# Xcode
DerivedData/
build/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.swp
*.tmp.derivedData/
